:root {
  --main-dark_color: #F5F5F5;
  --main-white_color: #474747;
  --main-color : #72A276;
  --dynamic-color: #ED1C24;
  --second-color: #ACAFAE;
  --light-color : #A0EEC0;
  --white : #F5F5F5;
  --dark : #474747;
}

body.dark-mode {
  --main-dark_color: #474747;
  --main-white_color: #F5F5F5;
  --main-color : #72A276;
  --dynamic-color: #ED1C24;
  --second-color: #666B6A;
  }